html, body{
  z-index: -100;
  background-color: rgba(0, 0, 0, 0.009);
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: '-apple-system',
  'BlinkMacSystemFont',
  '"Segoe UI"',
  'Roboto',
  '"Helvetica Neue"',
  'Arial',
  'sans-serif',
  '"Apple Color Emoji"',
  '"Segoe UI Emoji"',
  '"Segoe UI Symbol"';
}

.link {
  text-decoration: none;
  color: black;
}

.header {
  height: 80px;
  background-color: rgb(37, 37, 37);
}

#menu-btn {
  color: rgb(255, 255, 255);
  background-color: #1976D2;
  padding: 10px 20px;
  position: absolute;
  top: 40px;
  left: 20px;
  transform: translateY(-50%);
}

#menu-btn:hover {
  background-color: #15589c;
  color: white;
}

.menu-icon{
  padding-right: 10px;
  font-size: 50px;
}

#logo-img{
  color: white;
  position: absolute;
  right: 10px;
  height: 80px;
}

.userTable{
  margin: 50px auto;
}

.addUser-btn{
  position: absolute !important;
  right: 2.5%;
  top: 90px;
}

.logoutStudent-btn{
  position: absolute !important;
  right: 2.5%;
  top: 20px;
}

.addUserBox{
  margin: 0;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;  
  top: 0;
  background-color: rgba(0, 0, 0, 0.466);
}

/* .userAddForm{
  margin: 100px auto;
  width: 600px;
  height: 680px;
  background-color: rgb(255, 255, 255);
  padding: 15px;
 
} */

.addUserContainer{
  background-color: rgba(121, 121, 121, 0.514);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 2;

}


.alert {
  width: 30%;
  position: fixed;
  margin: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.userName{
  color: white;
  position: absolute;
  margin-top: 27px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}

.centerHeader{
  text-align: center;
}

.selectOtherUser-btn{
  position: absolute !important;
  right: 2.5%;
  top: 120px;
}

.notFound.top{
  font-size: 100px;
  text-align: center;
}

.notFound.btn{
  display: block;
  font-size: 18px;
  margin: 0 auto;
}

.notFound{
  font-size: 30px;
  text-align: center;
}

.box{
  width: 300px;
  height: 200px;
  background-color: red;
}

.owerflowingTable {
  overflow: scroll;
  height: auto;
}

.page{
  position: absolute;
  top: 8px;
  left: 150px;
  font-size: 20px;
  color: white;
  max-width: 300px;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}